<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/rest/user" method="get">
    <input value="rest-get" type="submit">
</form>
<form action="/rest/user" method="post">
    <input value="rest-post" type="submit">
</form>
<form action="/rest/user" method="post">
    <input name="_method" value="DELETE" type="hidden"/>
    <input value="rest-delete" type="submit">
</form>
<form action="/rest/user" method="post">
    <input name="_method" value="PUT" type="hidden"/>
    <input value="rest-put" type="submit">
</form>
<a href="/user/2/book/3"> @PathVariable路径变量</a>

<form action="/post/form1" method="post">
    name:<input type="text" name="name" />
    password:<input type="password" name="password"/>
    <input type="submit" value="submit">
</form>
</body>
</html>